In [1]:
2+3

5

In [3]:
x = 40

In [4]:
x

40

In [5]:
print(x)

40

In [6]:
import numpy

In [7]:
import pandas

In [8]:
import sklearn

In [ ]:
import tensorflow

In [1]:
5/2

2.5

In [2]:
5//2

2

In [4]:
distance = 25 * 4

In [5]:
distance

100

In [6]:
print(5/2)

2.5

In [7]:
7+6+0+4+3//5

17

In [8]:
(7+6+0+4+3)//5

4

In [9]:
SI = (5000*10*4)/100

In [10]:
SI

2000.0

In [11]:
AreaOfSquare = (4)^2

In [12]:
AreaOfSquare

6

In [13]:
A = 4**2

In [14]:
A

16

In [15]:
print(1+2**3 // 4*5)

11

In [16]:
print(my_name)

NameError: name 'my_name' is not defined

In [17]:
my_name = "John"

In [18]:
age = 28

In [19]:
pi = 3.14

In [20]:
print(my_name)

John

In [21]:
print(pi)

3.14

In [22]:
bank_balance = 200

In [23]:
print(bank_balance)

200

In [27]:
x = 10

In [28]:
my_int = 20

In [29]:
my_float = 15.85

In [30]:
my_string = "Hello World"

In [31]:
my_bool = True

In [37]:
height = 50

In [38]:
width = 40

In [39]:
area_of_rectangle = height * width

In [40]:
print(area_of_rectangle)

2000

In [41]:
height = 60

In [42]:
width = 40

In [43]:
new_area_of_rectangle = height*width

In [44]:
print(new_area_of_rectangle)

2400

In [52]:
height = 1.7

In [53]:
weight = 72.25

In [68]:
bmi = weight / (height*height)

In [69]:
bmi = int(bmi)

In [70]:
print(bmi)

25

In [78]:
gender = "male"

In [79]:
is_obese = False

In [85]:
height = 20

In [86]:
width = 80

In [87]:
area_of_rectangle = height * width

In [88]:
area_of_rectangle

1600

In [ ]:
print("game" + 1)

In [94]:
total_interest = 9762.69

In [95]:
type(total_interest)

float

In [96]:
type(area_of_rectangle)

int

In [97]:
bmi = 25

In [ ]:
print("BMI is "+ bmi)

In [99]:
bmi_str = str(bmi)

In [100]:
message = "BMI is "+ bmi_str

In [101]:
print(message)

BMI is 25

In [ ]:
first = Cloudx

In [108]:
first = "Cloudx"

In [109]:
second = "Lab"

In [110]:
final = first + second

In [111]:
print(final)

CloudxLab

In [116]:
games = "game"* 5

In [117]:
games

'gamegamegamegamegame'

In [118]:
animal = "cat"

In [119]:
ten_animals = animal*10

In [120]:
ten_animals

'catcatcatcatcatcatcatcatcatcat'

In [124]:
type(25)

int

In [125]:
type("string")

str

In [126]:
type("44.4")

str

In [127]:
type(44.4)

float

In [128]:
type(True)

bool

In [129]:
type("True")

str

In [131]:
def pay_calculator(hours, rate):
    if (hours <= 40):
        payment = hours*rate
        
    if (hours > 40):
        payment = (40*rate) + (hours - 40)*(1.5*rate)
        
    total_pay = payment
    return(total_pay)

In [132]:
pay_calculator(45, 10)

475.0

In [136]:
2 <= 3

True

In [137]:
2 != 3

True

In [138]:
2 => 3

SyntaxError: invalid syntax (<ipython-input-138-abb8396af546>, line 1)

In [139]:
2 > 3

False

In [140]:
2 >= 3

False

In [141]:
2 < 3

True

In [142]:
2 == 3

False

In [143]:
max(2, 3, 4)

4

In [144]:
min(2, 3, 4)

2

In [145]:
print(max('Hello world'))

w

In [146]:
print(max("Hello World"))

r

In [147]:
print(max('Hello world'))

w

In [148]:
area_of_circle = 78.5

In [149]:
str(area_of_circle)

'78.5'

In [150]:
area_of_circle_msg ="Area of the circle is - " + area_of_circle

TypeError: must be str, not float

In [151]:
type(area_of_circle)

float

In [152]:
str(area_of_circle)

'78.5'

In [153]:
type(area_of_circle)

float

In [154]:
area_of_circle_msg = "Area of the circle is - "+ str(area_of_circle)

In [155]:
print(area_of_circle_msg)

Area of the circle is - 78.5

In [160]:
area_of_circle = str(area_of_circle)

In [161]:
type(area_of_circle)

str

In [162]:
area_of_circle_msg = "Area of the circle is - "+ area_of_circle

In [163]:
print(area_of_circle_msg)

Area of the circle is - 78.5

In [1]:
len("myname")

6

In [3]:
min("python")

'h'

In [4]:
max('p','y','t','h','o','n')

'y'

In [5]:
max("python")

'y'

In [6]:
len("cloudxlab")

9

In [7]:
max("cloudxlab")

'x'

In [8]:
min("cloudxlab")

'a'

In [9]:
int(23.45)

23

In [10]:
int("cloudxlab")

ValueError: invalid literal for int() with base 10: 'cloudxlab'

In [11]:
float(2)

2.0

In [12]:
str(123)

'123'

In [13]:
square_area = 8.9*8.9

In [14]:
square_area

79.21000000000001

In [15]:
square_area_type = type(square_area)

In [16]:
square_area_type

float

In [17]:
square_area_int = int(square_area)

In [18]:
square_area_int

79

In [19]:
square_area_str = str(square_area_int)

In [20]:
square_area_str

'79'

In [26]:
import math

In [27]:
print(math)

<module 'math' from '/usr/local/anaconda/lib/python3.6/lib-dynload/math.cpython-36m-x86_64-linux-gnu.so'>

In [28]:
math.log10(1000)

3.0

In [29]:
math.log(1000)

6.907755278982137

In [30]:
math.cos(0)

1.0

In [31]:
math.pi

3.141592653589793

In [32]:
math.sqrt(4)

2.0

In [33]:
pi = math.pi

In [34]:
pi1 = pi/360*2*pi

In [35]:
pi1

0.05483113556160755

In [36]:
pi

3.141592653589793

In [37]:
import math

In [38]:
square_root = math.sqrt(56.98)

In [39]:
square_root

7.548509786706248

In [40]:
sin_rad = 26/360*(2*math.pi)

In [41]:
sin_rad

0.45378560551852565

In [71]:
sin_rad = (26*2*math.pi)/360

In [72]:
sin_rad

0.4537856055185257

In [42]:
sin_degree = math.sin(26)

In [43]:
sin_degree

0.7625584504796027

In [44]:
log_e = math.log(1000)

In [45]:
log_e

6.907755278982137

In [52]:
sin_degree = math.sin(sin_rad)

In [53]:
sin_degree

0.4383711467890774

In [60]:
sin_rad

0.45378560551852565

In [61]:
sin_rad = round(sin_rad, 16)

In [62]:
sin_rad

0.4537856055185256

In [69]:
sin_rad = math.sin(26*2*math.pi/360)

In [70]:
sin_rad

0.4383711467890774

In [73]:
sin_rad = (26*2*math.pi)/360

In [74]:
sin_rad

0.4537856055185257

In [81]:
import random

In [82]:
random.random()

0.490255979596531

In [83]:
random.random()

0.007597689175584121

In [84]:
for a in range(10):
    number = random.random()
    print(number)

0.6360523407451066
0.595950002733791
0.6961299832485317
0.8000981593939653
0.4510434946423242
0.5259130886871558
0.4564024263343669
0.49295375730871127
0.7443147594065872
0.7726204544762459

In [85]:
import random

In [86]:
random_number = random.random()

In [87]:
random_int = int(random_number)

In [88]:
random_int

0

In [93]:
def print_name():
    name = "cloudxlab"
    print("My Name is: ", name)

In [94]:
print_name

In [95]:
print_name()

My Name is:  cloudxlab

In [96]:
print(type(print_name))

<class 'function'>

In [97]:
get_name()

NameError: name 'get_name' is not defined

In [98]:
def get_name():
    print("Cloudxlab")
    
get_name()

Cloudxlab

In [101]:
def print_name(value):
    x = value
    print(value)

In [102]:
print_name(10)

10

In [103]:
print_name(str(math.cos(0)))

1.0

In [104]:
def multiply(message, *args):
    output = 1
    for arg in args:
        output *= arg
    return message + " " + str(output)

multiply_value = multiply("My Sum: ", 1, 2, 3, 4)
print(multiply_value)

My Sum:  24

In [106]:
def my_function(number):
    xyz = number
    xyz_str = str(xyz)
    xyz_str += "cloudxlab"
    print(xyz_str)

In [107]:
my_function(10)

10cloudxlab

In [110]:
def new_function(num):
    result = num * math.pi
    return result

In [113]:
new_function(2)

6.283185307179586

In [114]:
def void_function(num1, num2):
    result = new_function(num1**num2)
    print(result)

In [116]:
void_function(2, 1)

6.283185307179586

In [117]:
void_function(4.6, 7.3)

216412.35147094267

In [120]:
inp = input()

Hello

In [121]:
name = input("What is CloudxLab\n")

What is CloudxLab
Its a lab

In [124]:
question = "what is 2 multiplied by 3?\n"
answer = input(question)
print(int(answer))

what is 2 multiplied by 3?
6
6

In [125]:
def input_name():
    prompt = input("What am I Studying?\n")
    return prompt

In [126]:
input_name()

What am I Studying?
Python

'Python'

In [127]:
subject = input_name()

What am I Studying?
Python

In [128]:
print(subject)

Python

In [132]:
1==1

True

In [133]:
2==1

False

In [ ]:
print(type(True))

In [57]:
is_on_line(10,20,30)

In [58]:
is_on_line(10,20,20)

True

In [59]:
is_on_line(10,20,-10)

In [60]:
is_on_line(-4,-5,-4.5)

False

In [61]:
is_on_line(0,1,0.5)

True

In [62]:
is_on_line(-2, -1, -2.5)

In [63]:
-4.5 == -4

False

In [64]:
-4.5==-5

False

In [17]:
def is_on_line(x1, x2, x):
    if (x>=x1 and x<=x2) or (x<=x1 and x>=x2):
        return True
    elif x>x2 or x<x1:
        return False

In [18]:
is_on_line(10,20,30)

False

In [19]:
is_on_line(10,20,20)

True

In [20]:
is_on_line(10,20,-10)

False

In [21]:
is_on_line(-4, -5, -4.5)

True

In [22]:
is_on_line(0,1,0.5)

True

In [23]:
is_on_line(-2, -1, -2.5)

False

In [6]:
def conditional_statements(num1, num2, num3, num4):
    if (num1<num2 and num1 > num3 and num1 == num4):
        if num3<num1 and num3<num2 and num3<num4:
            if type(num2) == float:
                if (type(num1) and type(num3) and type(num4)) == int:
                    return (num1+num2+num3+num4)
                else:
                    return None

In [27]:
4+4.5+7+8

23.5

In [7]:
print(conditional_statements(1,2.3,0,4))

None

In [12]:
def is_on_line(x1, x2, x):
    if (x>=x1 and x<=x2) or (x<=x1 and x>=x2):
        return True
    elif x>x2 or x<x1:
        return False

In [26]:
prompt = input("Enter your age\n")
try:
    print(int(prompt))
except:
    print('You should have entered a number')

Enter your age
forty
You should have entered a number

In [54]:
def except_func(num):
    try:
        return num*num
    except:
        return str("invalid number")

In [55]:
except_func(4)

16

In [56]:
except_func('abcd')

'invalid number'

In [62]:
a = a+1

NameError: name 'a' is not defined

In [1]:
for countdown in [5,4,3,2,1]:
    print(countdown)
print("Done!")

5
4
3
2
1
Done!

In [2]:
my_list = [5,4,3,2,1,0]
for countdown in my_list:
    print(countdown)
print("Done!")

5
4
3
2
1
0
Done!

In [3]:
n = 5
while n>0:
    print(n)
    n=n-1

5
4
3
2
1

In [4]:
len(my_list)

6

In [5]:
my_list.len

AttributeError: 'list' object has no attribute 'len'

In [6]:
my_list.length()

AttributeError: 'list' object has no attribute 'length'

In [7]:
my_list.len()

AttributeError: 'list' object has no attribute 'len'

In [8]:
len(my_list)

6

In [9]:
x = None

In [10]:
x

In [11]:
x is None

True

In [12]:
x is not None

False

In [13]:
str1 = 'Hello'

In [14]:
str1

'Hello'

In [15]:
str2 = "Hello"

In [16]:
str2

'Hello'

In [17]:
'Hello' == "Hello"

True

In [18]:
bob = str1 + str2

In [19]:
bob

'HelloHello'

In [20]:
str3 = '123'

In [21]:
str3

'123'

In [22]:
"1"+"1"

'11'

In [23]:
strx = "1"+"1"

In [24]:
strx

'11'

In [25]:
int(strx)

11

In [26]:
fruit = 'banana'

In [27]:
fruit

'banana'

In [28]:
letter = fruit[1]

In [29]:
letter

'a'

In [30]:
fruit[0]

'b'

In [31]:
fruit[1]

'a'

In [32]:
fruit

'banana'

In [33]:
fruit[6]

IndexError: string index out of range

In [34]:
fruit[5]

'a'

In [36]:
for i in fruit:
    print(i)

b
a
n
a
n
a

In [37]:
for i in range(0,5):

SyntaxError: unexpected EOF while parsing (<ipython-input-37-101fee9bb06b>, line 1)

In [38]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [39]:
for i in range(0,5):
    print(fruit[i])

b
a
n
a
n

In [40]:
for i in range(0, len(fruit)):
    print(fruit[i])

b
a
n
a
n
a

In [41]:
s = 'Monty Python'

In [42]:
print(s)

Monty Python

In [43]:
print(s[:3])

Mon

In [44]:
print(s[:])

Monty Python

In [45]:
print(s[8:])

thon

In [46]:
print(s[0:5])

Monty

In [47]:
print(s[1:4])

ont

In [48]:
fruit = 'banana'

In [49]:
a in fruit

NameError: name 'a' is not defined

In [50]:
'a' in fruit

True

In [51]:
'n' in fruit

True

In [52]:
'x' in fruit

False

In [53]:
if 'a' in fruit:
    print('Success')

Success

In [54]:
greet = "Hello Bob"

In [55]:
greet.lower()

'hello bob'

In [56]:
greet.upper()

'HELLO BOB'

In [57]:
print('Hello Bob'.lower())

hello bob

In [58]:
type(greet)

str

In [59]:
dir(greet)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [60]:
greet.len()

AttributeError: 'str' object has no attribute 'len'

In [61]:
greet.__len__()

9

In [62]:
len(greet)

9

In [63]:
greet.find('H')

0

In [64]:
data = 'stephen.marquard@uct.ac.za Sat Jan  5 09:14:16 2008'

In [65]:
data

'stephen.marquard@uct.ac.za Sat Jan  5 09:14:16 2008'

In [66]:
atpos = data.find('@')

In [67]:
atpos

16

In [68]:
sppos = data.find(" ", atpos)

In [69]:
sppos

26

In [70]:
host = data[atpos+1 : sppos]

In [71]:
print(host)

uct.ac.za

In [72]:
"This is a sentence".split()

['This', 'is', 'a', 'sentence']

In [73]:
"This is a sentence\n"

'This is a sentence\n'

In [74]:
"This is a sentence\n".strip()

'This is a sentence'

In [75]:
"This is a sentence\n".strip(" ")

'This is a sentence\n'

In [76]:
"  This is a sentence\n  ".strip()

'This is a sentence'

In [1]:
dir

In [2]:
ls

foundations_of_python_459.ipynb

In [4]:
fhandle = open("mbox.txt")

In [5]:
fhandle

In [15]:
fhandle = open("mbox.txt", "r")

In [16]:
fhandle

In [17]:
lines = fhandle.read()

In [18]:
print(fhandle.read())

In [19]:
print(lines)

this is one line
this is second line

In [11]:
fhandle

In [26]:
fhandle = open("mbox.txt")
count = 0
for line in fhandle:
    count = count+1
    print(line)
    
print(count)

this is one line

this is second line
2

In [24]:
fhandle

In [25]:
print(fhandle)

<_io.TextIOWrapper name='mbox.txt' mode='r' encoding='UTF-8'>

In [30]:
fhandle = open("mbox.txt")
#chars = fhandle.read()
count = 0
for line in fhandle:
    count = count+1
    #print(line)
    
print(count)

2

In [31]:
print(len(chars))

36

In [32]:
print(chars[:20])

this is one line
thi

In [33]:
print(chars[20:])

s is second line

In [34]:
print(chars[:])

this is one line
this is second line

In [35]:
print(chars)

this is one line
this is second line

In [37]:
print(chars[:])

this is one line
this is second line

In [40]:
fhandle = open('mbox.txt')
for line in fhandle:
    if line.startswith('this is one'):
        print(line)

this is one line

In [39]:
man startswith

In [41]:
for x in [1, 2, 3, 4]:
    print(x)

1
2
3
4

In [50]:
def print_even(n):
    for even in range(0,n):
        if even%2 == 0:
            print(even)

In [51]:
print_even(4)

0
2

In [52]:
print_even(5)

0
2
4

In [53]:
print_even(0)

In [70]:
def compound_interest(principle, rate, years):
    initial_principle = principle
    for year in range(1,years+1):
        interest = (principle*rate)/100
        principle = principle+interest
        print("Year: ", year, "Interest: ", interest, 
             "Principle: ", principle)
   
    comp_interest = principle - initial_principle
    return comp_interest

In [71]:
compound_interest(100,5,2)

Year:  1 Interest:  5.0 Principle:  105.0
Year:  2 Interest:  5.25 Principle:  110.25

10.25

In [88]:
def sum_func(argument):
    #if type(argument) is int:
        
    #else:
    #    return -1
    sum = 0
    if type(argument) is int:
        if argument>=0:
            for i in range(0,argument+1):
                sum = sum+i
            return sum
        elif argument < 0:
                return -1
    else:
        return -1

In [89]:
sum_func(10)

55

In [90]:
sum_func(-1)

-1

In [91]:
sum_func('abcd')

-1

In [2]:
total = 0
while True:
    n = input("Enter 1 to enter a number, Enter 2 to stop the process\n")
    if n is "1":
        number = input("Enter the number\n")
        try:
            total = total + int(number)
        except:
            print("Please enter a valid number\n")
            continue
    elif n is "2":
        break
    else:
        print("Please enter a valid choice\n")
        continue

Enter 1 to enter a number, Enter 2 to stop the process
1
Enter the number
2
Enter 1 to enter a number, Enter 2 to stop the process
1
Enter the number
6
Enter 1 to enter a number, Enter 2 to stop the process
1
Enter the number
3
Enter 1 to enter a number, Enter 2 to stop the process
1
Enter the number
5
Enter 1 to enter a number, Enter 2 to stop the process
1
Enter the number

Please enter a valid number

Enter 1 to enter a number, Enter 2 to stop the process
1
Enter the number
9
Enter 1 to enter a number, Enter 2 to stop the process
2

In [3]:
total

25

In [32]:
def special_func(num):
    total = 0
    i=1
    if (type(num) is int) and (num>0):
        #print("num is positive int")
        while i <= num:
            if (num%i == 0) and (i%2!=0):
                total = total+i
                print("i= ", i)
            i=i+1
        return total
    else:
        return -10

In [33]:
special_func(12)

i=  1
i=  3

4

In [34]:
special_func(15)

i=  1
i=  3
i=  5
i=  15

24

In [35]:
special_func(-1)

-10

In [36]:
special_func('abcd')

-10

In [43]:
numbers = [1, 2,3, 4, 5]
for number in numbers:
    print(number)

1
2
3
4
5

In [44]:
s = 'Python'

In [45]:
c1=s[0]

In [46]:
c1

'P'

In [47]:
c2=s[1]

In [48]:
c2

'y'

In [49]:
len(s)

6

In [58]:
def str_func(str1):
    last_c = str1[0]
    print(last_c)

str_func('1234')

In [59]:
strx='abcd'

In [60]:
strx[1]

'b'

In [61]:
strx[3]

'd'

In [67]:
ln = len(strx)

In [68]:
ln

4

In [69]:
ln-1

3

In [70]:
strx[ln-1]

'd'

In [150]:
def str_func(str1):
   #print("ln=",ln, "str1= ", strn, "ln-1: ", ln1)
    ln = len(str1)
    print(str1[ln-1])
    return (str1[ln-1])

In [151]:
str_func('abcd')

d

'd'

In [152]:
str_func('cloudxlab')

b

'b'

In [129]:
def sum_str_func(argument):
    argu1 = str(argument)
    #print(type(argu1))
    sum=0
    for a in range(0,len(argu1)):
        #print(argu1[a])
        sum = sum+int(argu1[a])
        #print(sum)
    return sum

In [130]:
sum_str_func('1234')

10

In [159]:
s = 'cloudxlab'

In [160]:
print(s[1:5])

loud

In [161]:
print(s[4:4])

In [162]:
print(s[-1])

b

In [163]:
print(s[-2])

a

In [166]:
def slicing_func(str2):
    print(str2[2:])

In [167]:
slicing_func('abcdefg')

cdefg

In [168]:
slicing_func("Hello World")

llo World

In [173]:
a = "cloudx"

In [174]:
a

'cloudx'

In [175]:
a=a+"lab"

In [176]:
a

'cloudxlab'

In [177]:
print(a)

cloudxlab

In [178]:
a

'cloudxlab'

In [179]:
a = "cloudxlab"

In [180]:
a

'cloudxlab'

In [182]:
a[1] = 'm'

TypeError: 'str' object does not support item assignment

In [185]:
a = "Cloudxlab is a large ed-tech platform for ml and big data"
count = 0
for letter in a:
    if letter == 'l':
        count = count+1

In [186]:
count

5

In [187]:
result = 'cloud' in 'cloudxlab'

In [188]:
print(result)

True

In [189]:
string = "machine"
print(string == " machine")

False

In [190]:
a = 'cloudxlab'

In [191]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [192]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [193]:
help(a.translate)

Help on built-in function translate:

translate(...) method of builtins.str instance
    S.translate(table) -> str

    Return a copy of the string S in which each character has been mapped
    through the given translation table. The table must implement
    lookup/indexing via __getitem__, for instance a dictionary or list,
    mapping Unicode ordinals to Unicode ordinals, strings, or None. If
    this operation raises LookupError, the character is left untouched.
    Characters mapped to None are deleted.

In [194]:
help(a.zfill)

Help on built-in function zfill:

zfill(...) method of builtins.str instance
    S.zfill(width) -> str

    Pad a numeric string S with zeros on the left, to fill a field
    of the specified width. The string S is never truncated.

In [195]:
print(a.upper())

CLOUDXLAB

In [196]:
print(a)

cloudxlab

In [198]:
data1 = "someone@gmail.com"

In [199]:
position = data1.find('@gmail')

In [200]:
position

7

In [201]:
blankpos = data1.find(" ")

In [202]:
blankpos

-1

In [212]:
def email_func(data_str):
    pos = data_str.find("@")
    print("Pos: ", pos)
    if pos>1:
        return data_str[pos+1:]
    else:
        return False

In [213]:
email_func('abcd@gmail')

Pos:  4

'gmail'

email_func('sharath@gmail.com')

In [215]:
email_func("abcd@gmail.com")

Pos:  4

'gmail.com'

In [233]:
def email_func(str1):
    a = str.split()
    print(a)
    for word in a:
        print(word)
        if '@' in word:
            return word
        else:
            continue
        return False

In [234]:
email_func("I a@m a")

[]

In [235]:
"I a@m a"

'I a@m a'

In [236]:
"I a@m a".split()

['I', 'a@m', 'a']

In [237]:
"I a@m a".split(' ')

['I', 'a@m', 'a']

In [23]:
a = "I a@m a".split(' ')

In [24]:
defa

['I', 'a@m', 'a']

In [103]:
def email_func(str1):
    a = str1.split()
    #print(a)
    for word in a:
        #print(word)
        pos = word.find('@')
        #print(pos)
        if pos>=0:
            #print("word = ", word)
            return word
        else:
            continue
    return(False)

In [104]:
email_func("a @ @b")

'@'

In [105]:
"a @ @b".find('x')

-1

In [106]:
" we look for first @ @cloudxlab.com @cloudxlab".find("@")

19

In [107]:
email_func('I sh@gm.com')

'sh@gm.com'

In [108]:
email_func("Crazy Frog")

False

In [109]:
email_func("this is first abhinav@cloudxlab.com and this is second sandeep@cloudxlab.com")

'abhinav@cloudxlab.com'

In [110]:
email_func("a a@")

'a@'

In [111]:
email_func(" we look for first @ @cloudxlab.com @cloudxlab")

'@'

In [112]:
" we look for first @ @cloudxlab.com @cloudxlab".find('@')

19

In [119]:
print('%d+3' % 3)

3+3

In [120]:
print("%f %f %s")

%f %f %s

In [121]:
print("%f %s %d" % (12.3, 12, 'cloudxlab'))

TypeError: %d format: a number is required, not str

In [122]:
a = [12,3.4,34, 'cloudxlab', [2.3,1.4]]

In [128]:
print('cloudxlab' in a)

True

In [124]:
print('cloudx lab' in a)

False

In [129]:
a = [1,2,3,4,5]

In [130]:
len(a)

5

In [131]:
range(len(a))

range(0, 5)

In [132]:
range(5)

range(0, 5)

In [133]:
for number in range(len(a)):
    a[number] = a[number] + 1

In [134]:
a

[2, 3, 4, 5, 6]

In [136]:
a = [1,2]
b=[3,4]
c=a+b
print(c)

[1, 2, 3, 4]

In [137]:
a=[1,2,3]
c=a*3

In [138]:
c

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [139]:
a = [1,2,3,4,5,6,7,8,9]
s= a[2:5]

In [140]:
s

[3, 4, 5]

In [141]:
a[2:5] = [7,4,9]

In [142]:
a

[1, 2, 7, 4, 9, 6, 7, 8, 9]

In [144]:
sum(a)

53

sum(s)

In [145]:
sum(s)

12

In [146]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [147]:
a = [23,12,32,1,2,34,56]
a.append(12)

In [148]:
print(a[len(a)-2])

56

In [149]:
a.extend(a)

In [150]:
a

[23, 12, 32, 1, 2, 34, 56, 12, 23, 12, 32, 1, 2, 34, 56, 12]

In [151]:
sum(a)

344

In [152]:
a.sort()
print(a[2]+a[7])

14

In [153]:
a

[1, 1, 2, 2, 12, 12, 12, 12, 23, 23, 32, 32, 34, 34, 56, 56]

In [154]:
list1 = [12,23,43,[2,4,5], 2, 4,5]

In [155]:
list1.pop(3)

[2, 4, 5]

In [156]:
list1.pop(1)

23

In [157]:
list1

[12, 43, 2, 4, 5]

In [158]:
list1 = [12,23,43,[2,4,5], 2, 4,5]

In [159]:
list1.pop(3)

[2, 4, 5]

In [160]:
list1

[12, 23, 43, 2, 4, 5]

In [161]:
sum(list1)

89

In [162]:
list2 = ['cloudx', 'lab', 'provides', 'cloud', 'lab']

In [163]:
del list2[1]

In [164]:
list2

['cloudx', 'provides', 'cloud', 'lab']

In [165]:
list2.remove('lab')

In [166]:
list2

['cloudx', 'provides', 'cloud']

In [167]:
list2 = ['cloudx', 'lab', 'provides', 'cloud', 'lab']

In [168]:
del list2[:]

In [169]:
list2

[]

In [170]:
len(list2)

0

In [171]:
s = 'CloudxLab'
l = list(s)
print(l)

['C', 'l', 'o', 'u', 'd', 'x', 'L', 'a', 'b']

In [172]:
s = "I am learning Python at CloudxLab"

In [173]:
sp = s.split()

In [174]:
print(sp)

['I', 'am', 'learning', 'Python', 'at', 'CloudxLab']

In [175]:
s

'I am learning Python at CloudxLab'

In [176]:
sp = s.split('am')

In [177]:
sp

['I ', ' learning Python at CloudxLab']

In [178]:
s

'I am learning Python at CloudxLab'

In [179]:
s1 = "I am learning Python am CloudxLab"

In [183]:
sp1 = s1.split('am')

In [184]:
sp1

['I ', ' learning Python ', ' CloudxLab']

In [185]:
delimiter = 'am'
print(delimiter.join(sp))

I am learning Python at CloudxLab

In [186]:
print(delimiter.join(sp1))

I am learning Python am CloudxLab

In [267]:
def str_list_func(string):
    strlist = string.split()
    print(strlist)
    newstrlist = []
    for word in strlist:
        #print(word)
        tmpwordlist = list(word)
        #print(tmpwordlist)
        a = tmpwordlist[0]
        #print(a)
        z = tmpwordlist[-1]
        #print(z)
        tmpwordlist[0] = z
        tmpwordlist[-1] = a
        #print(tmpwordlist)
        word1 = ''.join(tmpwordlist)
        #print(word1)
        newstrlist.append(word1)
        #print(newstrlist)
        
    outstr = ' '.join(newstrlist)
    return outstr

In [268]:
str_list_func("I am learning Python at CloudxLab")

['I', 'am', 'learning', 'Python', 'at', 'CloudxLab']

'I ma gearninl nythoP ta bloudxLaC'

In [2]:
f = open("file_name.txt")

In [3]:
f

In [4]:
with open("/cxldata/python_sample_file") as f:
    s = ""
    for line in f:
        print(line)
        s=s+line
    print(s)

This is a sample file for testing

for Python course for

learners in CloudxLab.

This is a sample file for testing
for Python course for
learners in CloudxLab.

In [6]:
f = open("/cxldata/python_sample_file")

In [7]:
content = f.read()

In [8]:
content

'This is a sample file for testing\nfor Python course for\nlearners in CloudxLab.\n'

In [31]:
def file_read_func(filepath):
    
    try:
        sum = 0
        f = open(filepath)
        #print("success!")
        content = f.read()
        contentlist = content.split()
        #print(contentlist)
        for word in contentlist:
            #print(len(word))
            sum = sum+len(word)
            #print("Sum : ", sum)
        return sum
    except:
        #print("Error opening file")
        return -1

In [32]:
file_read_func("/cxldata/python_sample_file")

65

In [38]:
check = 0
with open("/cxldata/python_sample_file") as f:
    for line in f:
        if(line.startswith('w')):
            check = check+1
    print(check)

0

In [37]:
check

0

In [39]:
with open("/cxldata/python_sample_file", 'w') as f:
    print(f.read())

PermissionError: [Errno 13] Permission denied: '/cxldata/python_sample_file'

In [40]:
with open("/cxldata/python_sample_file", 'r') as f:
    print(f.read())

This is a sample file for testing
for Python course for
learners in CloudxLab.

In [41]:
with open("python_file_writing.txt", "w") as f:
    f.write("I am learning Python at CloudxLab.")

In [42]:
!pwd

/home/sgajaresg26121/cloudxlab_jupyter_notebooks

In [1]:
def sq(x): return x*x

In [2]:
sq(3)

9

In [4]:
def mymap(a,f):
    retval = []
    for i in a:
        v = f(i)
        retval.append(v)
        
    return retval

print(mymap([1,2,3], sq))

# def cube(x): return x*x*x
# print(mymap([1,2,3], cube))
def myf(x): return x*2 #instead of this use lambda below
mymap([1,2,3,4], lambda x:x*2)

[1, 4, 9]
[1, 8, 27]

In [5]:
sum = lambda x,y:x+y
sum(4,5)

9

In [6]:
list1 = [1,9,21,12,45,10,16]
1 in list1

True

In [7]:
2 in list1

False

In [8]:
9 in list1

True

In [9]:
list1[:]

[1, 9, 21, 12, 45, 10, 16]

In [2]:
ddd = dict()

In [3]:
ddd['age'] = 21
ddd['course']=182
print(ddd)

{'age': 21, 'course': 182}

In [4]:
ddd['age'] = 23
print(ddd)

{'age': 23, 'course': 182}

In [5]:
jjj = { 'chuck' : 1, 'fred':42, 'jan':100}

In [6]:
print(jjj)

{'chuck': 1, 'fred': 42, 'jan': 100}

In [7]:
ooo = {}

In [8]:
print(ooo)

{}

In [9]:
counts = dict()
names = ['csev', 'cwen', 'csev', 'zqian', 'cwen']
for name in names:
    if name not in counts:
        counts[name] = 1
    else:
        counts[name] = counts[name]+1
print(counts)

{'csev': 2, 'cwen': 2, 'zqian': 1}

In [3]:
counts = dict()
line = input("Enter a line of text")
words = line.split()

print("Words: ", words)

print("Counting...")

for word in words:
    counts[word] = counts.get(word,0)+1
print('Counts', counts)

Enter a line of textHello there, this is sharath here
Words:  ['Hello', 'there,', 'this', 'is', 'sharath', 'here']
Counting...
Counts {'Hello': 1, 'there,': 1, 'this': 1, 'is': 1, 'sharath': 1, 'here': 1}

In [4]:
counts.get(word,0)

1

In [5]:
word

'here'

In [6]:
counts.get("this",0)

1

In [7]:
counts

{'Hello': 1, 'there,': 1, 'this': 1, 'is': 1, 'sharath': 1, 'here': 1}

In [9]:
counts.get("that",0) +1

1

In [11]:
counts.get("Hello",0)+1

2

In [12]:
counts.get("Hello", 0)

1

In [19]:
counts = {'chuck':1, 'fred':42, 'jan':100}
for key in counts:
    print(key, counts[key])

chuck 1
fred 42
jan 100

In [20]:
print(list(counts))

['chuck', 'fred', 'jan']

In [21]:
counts

{'chuck': 1, 'fred': 42, 'jan': 100}

In [22]:
print(counts.keys())

dict_keys(['chuck', 'fred', 'jan'])

In [23]:
print(counts.values())

dict_values([1, 42, 100])

In [24]:
print(counts.items())

dict_items([('chuck', 1), ('fred', 42), ('jan', 100)])

In [25]:
for name, val in counts.items():
    print(name, val)

chuck 1
fred 42
jan 100

In [1]:
numbers = {"1":"One", "2": "Two"}

In [2]:
print(numbers["1"])

One

In [3]:
numbers["3"] = "Three"

In [4]:
print(numbers)

{'1': 'One', '2': 'Two', '3': 'Three'}

In [5]:
numbers["3"] = "Three"

In [6]:
print(numbers)

{'1': 'One', '2': 'Two', '3': 'Three'}

In [7]:
for i in numbers: print(i)

1
2
3

In [9]:
numbers.items()

dict_items([('1', 'One'), ('2', 'Two'), ('3', 'Three')])

In [10]:
numbers.values()

dict_values(['One', 'Two', 'Three'])

In [11]:
numbers.keys()

dict_keys(['1', '2', '3'])

In [12]:
(0,1,2000000) < (0,3,4)

True

In [13]:
list1 = [4, 5, 2, 99, 43, 21, 11]

In [14]:
list1.sort()

In [15]:
list1

[2, 4, 5, 11, 21, 43, 99]

In [16]:
list2 = [4, 5, 2, 99, 43, 21, 11]

In [17]:
list2.sorted()

AttributeError: 'list' object has no attribute 'sorted'

In [18]:
sorted(list2)

[2, 4, 5, 11, 21, 43, 99]

In [19]:
list2

[4, 5, 2, 99, 43, 21, 11]

In [20]:
d = dict()
print(d)

{}

In [21]:
d['1 rupee coins'] = 10
d['2 rupees coins'] = 5
d['5 rupees coins'] = 6
d['10 rupees coins'] = 12

In [22]:
print(d)

{'1 rupee coins': 10, '2 rupees coins': 5, '5 rupees coins': 6, '10 rupees coins': 12}

In [23]:
print(d['5 rupees coins']+d['10 rupees coins'])

18

In [24]:
d = { 'one' : 1 , 'two' : 2, 'three' : 3, 'four': 4 }

In [25]:
d

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

In [26]:
print(d)

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

In [27]:
print(len(d))

4

In [28]:
print('three' in d)

True

In [29]:
print(4 in d)

False

In [30]:
print(5 in d and 2 in d)

False

In [31]:
d = {"apples" : 2, "bananas" : 3, "carrots" : 12}
print(d.get("oranges",0))

0

In [32]:
print(d.get("apples", 0))

2

In [33]:
print(d.get("carrots", 0))

12

In [35]:
for fruit in d:
    print(fruit)

apples
bananas
carrots

In [44]:
def dict_func(str1):
    l1 = str1.split()
    print(l1)
    d1 = {}
    for word in l1:
        if word not in d1:
            d1[word] = 1
        else:
            d1[word] = d1[word]+1
    return d1

In [46]:
dict_func("the quick brown fox jumps over the lazy dog")

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

{'the': 2,
 'quick': 1,
 'brown': 1,
 'fox': 1,
 'jumps': 1,
 'over': 1,
 'lazy': 1,
 'dog': 1}

In [50]:
t = (12,323, 'd', [1,23], False)

In [51]:
t = (1,)

In [52]:
type(t)

tuple

In [53]:
t = (1)

In [54]:
type(t)

int

In [55]:
t = (1,)

In [56]:
type(t)

tuple

In [57]:
t1 = tuple("1,2,3,4,5")
t2 = tuple([1,2,3,4,5])
t3 = tuple((1,2,3,4,5))

In [58]:
t1

('1', ',', '2', ',', '3', ',', '4', ',', '5')

In [59]:
len(t1)

9

In [60]:
t2

(1, 2, 3, 4, 5)

In [61]:
t3

(1, 2, 3, 4, 5)

In [62]:
t = tuple()

In [63]:
print(t)

()

In [64]:
len(t2)

5

In [65]:
len(t3)

5

In [66]:
t = (1,3,5,2,54,34,2,34,5)

In [67]:
l = len(t)

In [68]:
l

9

In [69]:
print(t[l-2])

34

In [70]:
t2 = t[2:5]

In [71]:
t2

(5, 2, 54)

In [72]:
sum(t2)

61

In [73]:
t3 = t[1:3]+t2[:]

In [74]:
t3

(3, 5, 5, 2, 54)

In [75]:
sum(t3)

69

In [76]:
print((0, 1, 2) < (0, 3, 4))

True

In [77]:
(0,1,2)<(0,3)

True

In [78]:
l = [(0,23,34), (2,34,23), (1,34,23)]
l.sort()

In [79]:
l

[(0, 23, 34), (1, 34, 23), (2, 34, 23)]

In [80]:
l[2]

(2, 34, 23)

In [81]:
sum(l[2])

59

In [82]:
l.sort(reverse=True)

In [83]:
l

[(2, 34, 23), (1, 34, 23), (0, 23, 34)]

In [84]:
l = [1,2,3]
(a,b,c) = l

In [85]:
l

[1, 2, 3]

In [86]:
(a,b,c)

(1, 2, 3)

In [87]:
a,b = b,a

In [88]:
a,b

(2, 1)

In [89]:
b,a

(1, 2)

In [90]:
a,b,c

(2, 1, 3)

In [91]:
x,y=4,5

In [92]:
x,y

(4, 5)

In [93]:
x,y = y,x

In [94]:
x,y

(5, 4)

In [95]:
d = { "one" : 1, "two" : 2, "three" : 3}

In [96]:
k = d.items()

In [97]:
k

dict_items([('one', 1), ('two', 2), ('three', 3)])

In [98]:
print(k)

dict_items([('one', 1), ('two', 2), ('three', 3)])

In [99]:
l = list(k)

In [100]:
l

[('one', 1), ('two', 2), ('three', 3)]

In [101]:
d.items()

dict_items([('one', 1), ('two', 2), ('three', 3)])

In [102]:
d

{'one': 1, 'two': 2, 'three': 3}

In [103]:
list1 = list(d)

In [104]:
list1

['one', 'two', 'three']

In [105]:
list1 = d.items()

In [106]:
list1

dict_items([('one', 1), ('two', 2), ('three', 3)])

In [107]:
list1 = list(list1)

In [108]:
list1

[('one', 1), ('two', 2), ('three', 3)]

In [109]:
print(l)

[('one', 1), ('two', 2), ('three', 3)]

In [110]:
for key, value in list(k):
    print(key,value)

one 1
two 2
three 3

In [146]:
def dict_tuple_func(list1):
    dict2 = {}
    sum = 0
    for number in list1:
        #print(number)
        #print(list1)
        if number not in dict2:
            dict2[number] = 1
            sum = sum+number
        else:
            dict2[number] = dict2[number]+1
            
        
    print(dict2)
    print(sum)
    return(dict2, sum)

In [147]:
dict_tuple_func([1,2,3,3,5,6])

{1: 1, 2: 1, 3: 2, 5: 1, 6: 1}
17

({1: 1, 2: 1, 3: 2, 5: 1, 6: 1}, 17)

In [148]:
dict_tuple_func([1,2,3,1,2,3])

{1: 2, 2: 2, 3: 2}
6

({1: 2, 2: 2, 3: 2}, 6)

In [3]:
import socket
import sys

In [4]:
hostname = "www.bing.com"

In [1]:
import socket
import sys

hostname = "www.bing.com"

s = socket.socket(socket.AF_INET, socket.SOCK_STREAM)
print("Socket successfully created")

# try:
#     s = socket.socket(socket.AF_INET, socket.SOCK_STREAM)
#     print("Socket successfully created")
# except socket.error as err:
#     print("Socket creation failed here with err %s", %(err))
    
#Default port for socket
port = 80

try:
    host_ip = socket.gethostbyname(hostname)
except socket.gaierror:
    print("Error resolving the host")
    sys.exit()
    
#connecting to the server
s.connect((host_ip, port))

print("Socket successfully connected to ", hostname)

#print(f"Socket successfully connected to {hostname})

Socket successfully created
Socket successfully connected to  www.bing.com

In [10]:
s