In [1]:
import pandas as pd

In [2]:
mydf = pd.read_csv("/cxldata/datasets/project/housing_short.csv", index_col=0)

In [3]:
mydf.describe()

,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
mean,37.858000,43.600000,2469.400000,388.000000,868.400000,383.800000,6.674660,369340.000000
std,0.013038,13.501852,2603.018114,405.241286,862.336535,424.493463,1.921878,47089.733488
min,37.850000,21.000000,880.000000,129.000000,322.000000,126.000000,3.846200,341300.000000
25%,37.850000,41.000000,1274.000000,190.000000,496.000000,177.000000,5.643100,342200.000000
50%,37.850000,52.000000,1467.000000,235.000000,558.000000,219.000000,7.257400,352100.000000
75%,37.860000,52.000000,1627.000000,280.000000,565.000000,259.000000,8.301400,358500.000000
max,37.880000,52.000000,7099.000000,1106.000000,2401.000000,1138.000000,8.325200,452600.000000